
{%	extends	'layouts/single.html' %}
{%	block title %} Caffe Area {%	endblock %}
{%	block body	%}

<div class="login-box">
	<div class="login-logo">
	<a href="#"><b>Usr</b>Man</a>
	</div>

	<div class="card">
	<div class="card-body login-card-body">
		<p class="login-box-msg">
		</p>

			<form action="" method="POST"></form>
				<div class="input-group mb-3">
					<input type="email" name="email" class="form-control" placeholder="Email">
					<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-envelope"></span>
					</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="password" class="form-control" placeholder="Password">
					<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6"></div>
					<div class="col-6">
					<div class="icheck-primary">
						<input type="checkbox" id="remember">
						<label for="remember">
						Remember Me
						</label>
					</div>
					</div>
					<!-- /.col -->
					<div class="col-12">
						<br>
					<button type="submit" class="btn btn-primary btn-block" name="Login">Sign In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

		<br>
		<!--
		<div class="row">
			<div class="col-7"></div>
			<div class="col-5">
				<a href="<?php //echo base_url() ?>/user/reset_password">Forgot password?</a>
			</div>
		</div>
	    -->

	</div>
</div>

{%	endblock %}