<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">

      <img src="{{ url_for('static', filename='img/icons/72x72.png') }}" alt="" class="brand-image img-circle elevation-3"
         style="opacity: .8">

    
    <span class="brand-text font-weight-light"><!-- APp--></span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!--<div class="image">
        <img src="<?php //echo $logoApp; ?>" class="img-circle elevation-2" alt="User Image">
      </div>-->
      <div class="info">
        <a class="d-block">
          <b><!-- username--></b><br>
          <b><i><!-- role --></i></b> 
            /  <!--role-->

        </a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="app/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>


          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                Master
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/user" class="nav-link">
                  <i class="fas fa-list fa-xs nav-icon"></i>
                  <p>User</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/app" class="nav-link ">
                  <i class="fas fa-plus-circle fa-xs nav-icon"></i>
                  <p>App</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/role" class="nav-link">
                  <i class="fas fa-list fa-xs nav-icon"></i>
                  <p>Role</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="/Access" class="nav-link">
              <i class="nav-icon fas fa-store"></i>
              <p>
                Access
              </p>
            </a>
          </li>

    </nav>
  </div>
</aside>